<div class="card">
    <div class="container">
      <h3><b>Title: {{ item.title }}</b></h3>
      <a href="/film/{{ item.id }}"><img src="{{ item.cover }}" width="275" height="400" loading="eager" style="width: 275px; height: 400px"></a>
      <p class="py-2 italic">{{ item.description }}</p>
      <form action="/film/delete" method="post">
          <input type="hidden" name="id" value="{{ item.id }}">
          <button type="submit" class="rounded px-4 py-1 bg-red-500 hover:bg-red-600">Delete</button>
      </form>
    </div>
</div>