<div>
    <h1 class="text-4xl mt-5">{{ item.title }}</h1>
</div>

{% liquid
    graphql comments = 'comment/find_film_comment', film_id: item.id

    assign sum = 0

    for comment in comments.records.results
        assign rating_help = comment.rating | plus: 0
        assign sum = sum | plus: rating_help
        assign rating_all = forloop.index | times: 1.0
    endfor

    assign average = sum | divided_by: rating_all | round: 2
%}

{% render 'film/card', item: item, average: average, main: false %}

{% if comments.records.total_entries > 0 %}
    <table class="w-11/12 table-auto border-collapse border border-black my-2">
        <thead class="bg-lime-300">
            <tr>
            <th class="border border-black">Username</th>
            <th class="border border-black">Age</th>
            <th class="border border-black">Rating</th>
            <th class="border border-black">Comment</th>
            {% for comment in comments.records.results %}
                {% if context.current_user.id and comment.user_id == context.current_user.id %}
                    <th class="border border-black">Control</th>
                {% endif %}
            {% endfor %}
            </tr>
        </thead>
        <tbody class="bg-sky-300">
            {% for comment in comments.records.results %}
                <tr>
                    <td class="border border-black p-1 text-center">{{ comment.username }}</td>
                    <td class="border border-black p-1 text-center">{{ comment.age }}</td>
                    <td class="border border-black p-1 text-center">{{ comment.rating }}</td>
                    <td class="border border-black p-1 text-center">{{ comment.comment }}</td>
                    {% if context.current_user.id and comment.user_id == context.current_user.id %}
                        <td class="border border-black p-1 text-center">
                            <form action="/comment/delete" method="post">
                                <input type="hidden" name="id" value="{{ comment.id }}">
                                <button type="submit" class="rounded px-2 py-1/2 my-1 bg-red-500 hover:bg-red-600">Delete</button>
                            </form>
                            <a href="/comment/{{ comment.id }}" class="rounded px-2 py-1 my-1 text-white bg-neutral-700 hover:bg-neutral-800">Update</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if context.current_user.id %}
    <div class="form-container mb-5">
        <form action="/comment/create" method="post">
            <input type="hidden" name="authenticity_token" value="{{ context.authenticity_token }}">
            <input type="hidden" name="id" value="{{ item.id }}">

            <label for="rating">Rating (0-5): </label>
            <div class="slider">
            <input type="range" min="0" max="5" value="4" name="rating" id="rating" oninput="rangeValue.innerText = this.value">
            <p id="rangeValue">4</p>
            </div>

            <label for="comment">Comment: </label>
            <textarea id="comment" name="comment" placeholder="Write something.." style="height: 150px" required></textarea>

            <input type="submit" value="Add comment">

        </form>
    </div>
{% endif %}
